@model PayrollManagementSystem.Model.ViewModels.EmployeeCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-12">
        <h5 class="text-center">Create Employee</h5>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form class="row g-3" method="post" asp-controller="Employee" asp-action="Create">
            <div class="col-md-4">
                <label for="employeeCode" class="form-label" placeholder="Enter Code">Code</label>
                <input type="text" class="form-control" id="employeeCode" asp-for="Code">
            </div>
            <div class="col-md-4">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstName" asp-for="FirstName" placeholder="Enter First Name">
            </div>
            <div class="col-md-4">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastName" asp-for="LastName" placeholder="Enter Last Name">
            </div>
            <div class="col-md-4">
                <label for="phone" class="form-label">Phone</label>
                <input type="text" class="form-control" id="phone" asp-for="PhoneNumber" placeholder="Enter Phone Number">
            </div>
            <div class="col-md-4">
                <label for="relationshipStatus" class="form-label">Relationship Status</label>
                <input type="text" class="form-control" id="relationshipStatus" asp-for="RelationshipStatus" placeholder="Enter Relationship Status">
            </div>
            <div class="col-md-2">
                <label for="gender" class="form-label">Gender</label>
                <select class="form-select" asp-for="GenderId">
                    <option> -- Select Gender -- </option>
                    <option value=1>Male</option>
                    <option value=2>Female</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="age" class="form-label">Age</label>
                <input type="number" class="form-control" id="age" asp-for="Age" placeholder="Enter Age">
            </div>
            <div class="col-md-4">
                <label for="dailyRate" class="form-label">Daily Rate</label>
                <input type="number" class="form-control" id="dailyRate" asp-for="DailyRate" placeholder="Enter Daily Rate">
            </div>
            <div class="col-md-4">
                <label for="paymentMethod" class="form-label">Payment Method</label>
                <select class="form-select" asp-for="PaymentMethodId">
                    <option> -- Select Payment Method -- </option>
                    <option value="1">Payple</option>
                    <option value="2">Bank</option>
                </select>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-sm btn-outline-success">Submit</button>
                <a class="btn btn-sm btn-outline-primary" asp-controller="Employee" asp-action="Index">Cancle</a>
            </div>
        </form>
    </div>
</div>

